@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: whitesmoke;
  margin: 0;
}
.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}

h1 {
  text-align: center;
  margin: 0 0 20px;
}
.form {
  padding: 30px 40px;
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control input {
  border: 2px solid #f0f0f0;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
}
.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control small {
  color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  border: 2px solid #3498db;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 4px;
  background-color: skyblue;
  width: 100%;
  padding: 10px;
}

.form button:hover {
  background-color: blue;
}
.form-control.success input {
  border-color: green;
}
.form-control.error input {
  border-color: red;
}
